%rebase ('osnova.html', naslov='Borza Kriptovalut', navigator='/')
	<head>
	 <meta name="viewport" content="width=device-width, initial-scale=1" />
     <link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	
	<header id="header">
				<div class="inner">
					<div class="logo">Borza kriptovalut</div>
					<nav id="nav">
						<a href="#prijava">Prijava</a>
						<a href="#registracija">Registracija</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to Borza Kriptovalut</h1>
					</header>

					<footer>
						<a href="#registracija" class="button">Registriraj se</a> <br/><br/>
						<a href="#prijava" class="button">Prijava</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="registracija" class="wrapper align-center">
				<div class="inner">
				<h3>Registracija</h3>
					<form method="post" action="/registracija">
					<div class="field half first">
							<label for="name">Ime</label>
							<input class="w3-input w3-border w3-light-grey" name="ime" id="ime" type="text" value="{{ime}}" placeholder="Ime">
						</div>
						<div class="field half">
							<label for="subname">Priimek</label>
							<input class="w3-input w3-border w3-light-grey" name="priimek" id="priimek" type="text" value="{{priimek}}" placeholder="Priimek">
						</div>

						<div class="field half first">
							<label for="email">Email</label>
							<input class="w3-input w3-border w3-light-grey" name="mail" id="name" type="text" value="{{mail}}" placeholder="Mail">
						</div>
						<div class="field half">
							<label for="password">Geslo</label>
							<input class="w3-input w3-border w3-light-grey" name="geslo" id="password" type="password" value="{{geslo}}" placeholder="Geslo">
						</div>
						<ul class="actions">
							<li><input value="Registracija" class="w3-btn w3-white w3-round-xxlarge" type="submit"></li>
						</ul>
					</form>
					%if napaka_registriraj is not None:
					<div class="w3-panel w3-red w3-display-container">
					<span onclick="this.parentElement.style.display='none'"
					class="w3-button w3-red w3-large w3-display-topright">&times;</span>
					<p>Napaka: {{napaka_registriraj}}</p>
					</div>
					%end
				</div>
			</section>

		<!-- Footer -->
			<section id="prijava" class="wrapper align-center">
				
				<div class="inner">
					<h3>Prijava</h3>
					<form method="post" action="/prijava">

						<div class="field half first">
							<label for="email">Email</label>
							<input class="w3-input w3-border w3-light-grey" name="mail" id="name" type="text" value="{{mail}}" placeholder="Mail">
						</div>
						<div class="field half first">
							<label for="password">Geslo</label>
							<input class="w3-input w3-border w3-light-grey" name="geslo" id="password" type="password" value="{{geslo}}" placeholder="Geslo">
						</div>
						<ul class="actions">
							<li><input class="w3-btn w3-white w3-round-xxlarge" value="Prijava" class="button alt" type="submit"></li>
						</ul>
					</form>
					
				</div>
				%if napaka_prijava is not None:
					<div class="w3-panel w3-red w3-display-container">
					<span onclick="this.parentElement.style.display='none'"
					class="w3-button w3-red w3-large w3-display-topright">&times;</span>
					<p>Napaka: {{napaka_registriraj}}</p>
					</div>
					%end
			</section>
	<section id="grafi" class="wrapper align-center">
	<select id="selector" onchange="grafi()">
	 <option selected>Izberi valuto</option>
	 %for k, ime, spletna, vrednost, evri, cas in valute:
	 <option id = {{k}} name={{k}} value={{k}} onclick="e=id">{{ime}}</option>
	 %end
	 </select>
	 <div id="widget" style="width: 310px; min-height: 370px;"></div>
	 </section>
	<footer id="footer">
		<div class="copyright">
			&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</br>
			&copy; Borza kriptovalut
		</div>
	</footer>

		<!-- Scripts -->
			<script type="text/javascript">
			function grafi(){
			document.getElementById("widget").innerHTML = "";
			baseUrl = "https://widgets.cryptocompare.com/";
			var embedder = document.getElementById("widget");
			var appName = "local"; 
			var e = document.getElementById("selector");
			var strUser = e.options[e.selectedIndex].value;
			var s = document.createElement("script");
			s.type = "text/javascript";
			s.async = true;
			var theUrl = baseUrl+'serve/v1/coin/chart?fsym='+strUser+'&tsym=USD';
			s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
			embedder.appendChild(s);
			};
			</script>
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
			

