%rebase ('osnova.html', naslov='Oseba', navigator='/ Oseba')
	
    <div class="vrstica">
      ID: {{id}} <br/>
	  Ime: {{ime}}<br/>
	  Priimek: {{priimek}}<br/>
      Valute:
	  <button id="myBtn">Kupi kriptovalute</button>
	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
	

  <!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
		  <span class="close">&times;</span>
		  <h3>Izberi valuto</h3>
		</div>
		<div class="modal-body">
		  <p>Kriptovalute</p>
		  <table>
			<tr>
			  <th>Valuta</th>
			  <th>Vrednost</th>
			  <th>Količina</th>
			  <th>&nbsp;</th>
			  <th>&nbsp;</th>
			</tr>
			%for valuta, vrednostin valute:
			<tr>
			  <td>{{valuta}}</td>
			  <td>{{vrednost}}</td>
			  <td>
				<input type="text" id="znesek{{valuta}}" size="5" />
			  </td>
			   <td>
				<form action="/" method="GET"> <!---->
				   <input type="submit" value="Kupi" name="kupi" class="gumbi">
			    </form>
			</td>
			</tr>
			%end
		  </table>
		  
		</div>
		<div class="modal-footer">
		  <p>Test</p>
		</div>
	  </div>
	  
	  <link href="/static/kriptovalute.css" rel="stylesheet">
	  <script src="/static/kriptovalute.js"></script> 
    </div>
	
	<div class = 'vrstica'>
	<form method="post" action="/zapri_racun">
		<input id="QUIT" type="submit" value="Zapri račun" name="Zapri" class="gumbi"/>
	</form>
	</div>
