%rebase ('osnova.html', naslov='Oseba', navigator='/ Oseba')
	
    <div class="vrstica">
      ID: {{id}} <br/>
	  Ime: {{ime}}<br/>
	  Priimek: {{priimek}}<br/>
      Valute:
	  <button id="myBtn">Kupi kriptovalute</button>
	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
	

  <!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
		  <span class="close">&times;</span>
		  <h3>Izberi valuto</h3>
		</div>
		<div class="modal-body">
		  <p>Kriptovalute</p>
		  <form action="/kupi" method="POST">
		  <input type="hidden" id="id" name="id" value = "{{id}}"/>
		  <table>
			<tr>
			  <th>Valuta</th>
			  <th>Vrednost $</th>
			  <th>Vrednost €</th>
			  <th>Količina</th>
			  <th>&nbsp;</th>
			  <th>&nbsp;</th>
			</tr>
			%i=0
			%for kratica, ime, spletna, vrednost, evri, cas in valute:
			%i+=1
			<tr>
			  <td><input type="hidden" id="i" name="ime" value = "{{ime}}"/>{{ime}}</td>
			  <td><input type="hidden" id="i" name="vrednost" value = "{{vrednost}}"/>{{vrednost}}</td>
			  <td><input type="hidden" id="i" name="evri" value = "{{evri}}"/>{{evri}}</td>
			  <td>
				<input type="text" id="i" name="kolicina" value = "{{kolicina}}" size="5" />
			  </td>
			   <td>
				
				   <input type="submit" id="i" value="Kupi" name="kupi" class="gumbi"> 
			</td>
			</tr>
			%end
		  </table>
		  </form>
		  
		</div>
		<div class="modal-footer">
		  <p>Test</p>
		</div>
	  </div>
	  
	  <link href="/static/kriptovalute.css" rel="stylesheet">
	  <script src="/static/kriptovalute.js"></script> 
    </div>
	
	<div class = 'vrstica'>
	<form method="post" action="/zapri_racun">
		<input id="QUIT" type="submit" value="Zapri račun" name="Zapri" class="gumbi"/>
	</form>
	</div>
