%rebase ('osnova.html', naslov='Prijava', navigator='/prijava')
    <div class="vrstica">
      <form method="post" action="/prijava">
		<table>
			<tr>
				<td class="glava">
					Mail
				</td>
				<td>
					<input type="email" name="mail" value="{{mail}}" placeholder = "Vnesi mail"/>
				</td>
			</tr>
			<tr>
				<td class="glava">
					Geslo
				</td>
				<td>
					<input type="password" name="geslo" value="{{geslo}}" placeholder = "Vnesi geslo"/><br />
				</td>
			</tr>
			<tr>
				<td>
                    &nbsp;
                </td>
                <td class="gumbi">
                  <input type="submit" value="Prijava" name="prijava" class="gumbi"/>
                </td>
            </tr>
        </table>
      </form>
    </div>
    %if napaka is not None:
    <div class="vrstica napaka">
    Napaka: {{napaka}}
    </div>
    %end