%rebase ('osnova.html', naslov='registracija', navigator='/registracija')
    <div class="vrstica">
      <form method="post" action="/registracija">
		  <table>
				<tr>
					<td class="glava">
					  Ime:
					</td>
					<td>
					  <input class="w3-input w3-padding" type="text" name="ime" value="{{ime}}" placeholder = "Vnesi ime"/>
					</td>
				</tr>
				<tr>
					<td class="glava">
					  Priimek:
					</td>
					<td>
					  <input class="w3-input w3-padding" type="text" name="priimek" value="{{priimek}}" placeholder = "Vnesi priimek"/>
					</td>
				</tr>
				<tr>
					<td class="glava">
					  Mail
					</td>
					<td>
					  <input class="w3-input w3-padding" type="text" name="mail" value="{{mail}}" placeholder = "Vnesi email"/>
					</td>
				</tr>
				<tr>
					<td class="glava">
					  Geslo
					</td>
					<td>
					  <input class="w3-input w3-padding" type="password" name="geslo" value="{{geslo}}" placeholder = "Vnesi geslo"/>
					</td>
				</tr>
				<tr>
                <td>
                    &nbsp;
                </td>
                <td class="gumb_dodaj">
                  <input class="w3-btn w3-green w3-round-xxlarge" type="submit" value="registracija" name="registracija" class="w3-button"/>
                </td>
            </tr>
        </table>
      </form>
    </div>
    %if napaka_registriraj is not None:
	<div class="w3-panel w3-red w3-display-container">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-red w3-large w3-display-topright">&times;</span>
  <p>Napaka: {{napaka_registriraj}}</p>
</div>
    %end
	