%rebase ('osnova.html', naslov='Registracija', navigator='/registracija')
    <div class="vrstica">
      <form method="post" action="/Registracija">
        Ime: <input type="text" name="ime" value="{{ime}}"/><br />
        Priimek: <input type="text" name="priimek" value="{{priimek}}"/><br />
        E-mail: <input type="text" name="mail" value="{{mail}}"/><br />
		Geslo: <input type="password" name="geslo" value="{{geslo}}"/><br />
        <input type="submit" value="Registracija" name="Registracija"
          style="margin-left: 20px;margin-top: 2px;"/>
      </form>
    </div>
    %if napaka is not None:
    <div class="vrstica napaka">
    Napaka: {{napaka}}
    </div>
    %end
